<!-- Pairing 9.5 Ally and Elrey -->
<!DOCTYPE html>
<html>
<head>
	<title>Student comments</title>
</head>
<body>
<p>Give any comments to help our school be better!</p>
<form action="/comments" method="POST">
	<input type="text" name="id" placeholder="Student Id">
	<br><br>
	<textarea name="comment" cols="30" rows="15">Add comments here</textarea>
	<br><br>
	<button type="submit">Submit</button>
</form>

</body>
</html>